</div>
</div>
<script src="/js/admin.js"></script>
<script>
    document.querySelector('#btn_logout').addEventListener('click', function () {
        location.href = "/logout";
    });
</script>
</body>

</html>