<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CellphoneS</title>
</head>
<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/css/<%=css%>">
<!-- reponsive css -->
<link rel="stylesheet" href="/css/reponsive.css">
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<!-- heart -->
<link rel="stylesheet" href="/css/heart.css">
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<% if (css==="login.css" || css==="signup.css" || css=="basket.css" ) { %>
    <style>
        footer {
            display: none;
        }
    </style>
    <% } %>
        <% if (css==="detail.css" || css==="category.css" || css==="login.css" || css==="signup.css" ||
            css=="basket.css" ) { %>
            <style>
                .menu-banner {
                    display: none;
                }
            </style>
            <% } %>

                <!-- Nội dung khác của trang detail -->

                <body>
                    <section class="header">
                        <div class="menu_header">
                            <a class="header_logoimg" href="/"><img class="header_logo"
                                    src="/assets/img/logocell-removebg-preview.png" alt="">
                            </a>
                            <a class="header_logoimg2" href=""><img style="width: 60px; display: none;"
                                    class="header_logo2" src="/assets/img/logo2.png" alt="">
                            </a>
                            <div class="header_list">
                                <i class="fa-regular fa-rectangle-list"></i>
                                <a href="#">Danh mục</a>
                            </div>
                            <div class="loca_HCM">
                                <i class="fa-solid fa-location-dot"></i>
                                <div>
                                    <a href=""> Xem giá tại </a><i class="fa-solid fa-chevron-down"></i><br>
                                    <a href="">Hồ Chí Minh</a>
                                </div>
                            </div>
                            <label class="input_header" for=""><i class="fa-solid fa-magnifying-glass"></i><input
                                    type="text1" placeholder="Bạn cần gì ?"></label>
                            <div class="header_phone">
                                <i class="fa-solid fa-phone"></i>
                                <a class="header_3cham " href="">Gọi mua hàng
                                    1800.2097</a>
                            </div>
                            <div class="header_car">
                                <i class="fa-solid fa-truck-fast"></i>
                                <a class="header_3cham " href="">Tra cứu
                                    đơn hàng</a>
                            </div>
                            <div class="header_bag">
                                <div style="text-align: center;" class="slgiohang"> <i
                                        class="fa-solid fa-bag-shopping"></i>
                                    <!-- <b id="sosp">0</b> -->
                                </div>
                                <a href="/cart">Giỏ
                                    hàng</a>
                            </div>
                            <%let user=JSON.parse(localStorage.getItem("user"))%>
                                <%if(user !=null){%>
                                    <div class="header_user click" id="poupUser">
                                        <i class="fa-solid fa-user"></i>
                                        <span id="name_login">
                                            <%=user[2]%>
                                        </span>
                                        <div class="poup-User div1">
                                            <div class="triangle"></div>
                                            <div class="content_poupUser">
                                                <div>
                                                    <a href="/logout" class="poupUser-item">
                                                        <div class="poup_left">
                                                            <div class="poup-img"></div>
                                                            <div class="poup-text">Đăng xuất</div>
                                                        </div>
                                                        <div class="poup_right"><i
                                                                class="fa-solid fa-right-from-bracket"></i></div>
                                                    </a>

                                                </div>
                                                <div class="poupUser-item--end">
                                                    <hr>
                                                    Đóng
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}else{%>
                                        <a href="/login" class="header_user" id="btn_login">
                                            <i class="fa-solid fa-user"></i>
                                            <span>Đăng Nhập</span>
                                        </a>
                                        <%}%>



                        </div>
                    </section>
                    <div class="chose_login" id="chose">
                        <div>
                            <div class="chose_login--header ">
                                <div><img
                                        src="https://cdn2.cellphones.com.vn/213x213,webp,q100/media/wysiwyg/Shipper_CPS.jpg"
                                        alt="">
                                </div>
                                <div class="Smember"><b>Smember</b></div>
                                <i class="fa-solid fa-x" onclick="chosecancel()"></i>
                            </div>
                            <div class="chose_login--text">
                                <p>Vui lòng đăng nhập tài khoản Smember để có trải nghiệm mua sắm tốt hơn</p>
                            </div>
                            <div class="chose_login--btn">
                                <div class="login"><a href="?user/login"><b>Đăng nhập ngay</b></a></div>
                                <div class="signup1"><a href="./html/signup.html"><b>Đăng ký</b></a></div>
                            </div>
                        </div>
                    </div>
                    <section class="menu-banner">
                        <div class="menu-banner--left">
                            <nav class="accessory">
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-3.svg" alt=""><a
                                            href="/categories/phone/all">Điện thoại,</a><a href="">Tablet</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Thương hiệu điện thoại</h1>
                                                    <li><a href="">Iphone</a></li>
                                                    <li><a href="">Samsung</a></li>
                                                    <li><a href="">Xiaomi</a></li>
                                                    <li><a href="">OPPO</a></li>
                                                    <li><a href="">Vivo</a></li>
                                                    <li><a href="">Nokia</a></li>
                                                    <li><a href="">Realme</a></li>
                                                    <li><a href="">ASUS</a></li>
                                                    <li><a href="">OnePlus</a></li>
                                                    <li><a href="">Nubia</a></li>
                                                    <li><a href="">Tecno</a></li>
                                                    <li><a href="">Điện thoại phổ thông</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1> Mức giá điện thoại</h1>
                                                    <li><a href="">Dưới 5 triệu</a></li>
                                                    <li><a href="">Từ 5 đến 10 triệu</a></li>
                                                    <li><a href="">Từ 10 đến 15 triệu</a></li>
                                                    <li><a href="">Trên 15 triệu</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Điện thoại Hot <i style="font-size: 15px; color:orange;"
                                                            class="fa fa-bolt fa-fw fa-2x"></i></h1>
                                                    <li><a href=""> iPhone 14 Vàng mới</a></li>
                                                    <li><a href="">Galaxy Z Fold4</a></li>
                                                    <li><a href="">Redmi Note 12 Series</a></li>
                                                    <li><a href="">Galaxy S23 Ultra</a></li>
                                                    <li><a href="">Galaxy A34</a></li>
                                                    <li><a href="">OPPO Find N2 Flip</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Thương hiệu Tablet</h1>
                                                    <li><a href="">iPad</a></li>
                                                    <li><a href="">Samsung</a></li>
                                                    <li><a href="">Huawei</a></li>
                                                    <li><a href="">Lenovo</a></li>
                                                    <li><a href="">Nokia</a></li>
                                                    <li><a href="">Alcatel</a></li>
                                                    <li><a href="">Kindle</a></li>
                                                    <li><a href="">Máy đọc sách</a></li>
                                                    <li><a href="">Xem thêm tất cả Tablet</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Tablet Hot <i style="font-size: 15px; color:orange;"
                                                            class="fa fa-bolt fa-fw fa-2x"></i></h1>
                                                    <li><a href="">iPad Gen 10</a></li>
                                                    <li><a href="">iPad Pro 12.9 inch 2022</a></li>
                                                    <li><a href="">Galaxy Tab S8 5G</a></li>
                                                    <li><a href="">OPPO Pad Air</a></li>
                                                    <li><a href="">Huawei Matepad 2022</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-380.svg" alt=""><a
                                            href="/categories/laptop/all">laptop</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo hãng</h1>
                                                    <li><a href="">Mac</a></li>
                                                    <li><a href="">HP</a></li>
                                                    <li><a href="">Dell</a></li>
                                                    <li><a href="">ASUS</a></li>
                                                    <li><a href="">Lenovo</a></li>
                                                    <li><a href="">Microsoft Suface</a></li>
                                                    <li><a href="">Aser</a></li>
                                                    <li><a href="">Xiaomi</a></li>
                                                    <li><a href="">LG</a></li>
                                                    <li><a href="">Huawei</a></li>
                                                    <li><a href="">MSI</a></li>
                                                    <li><a href="">Gigabyte</a></li>
                                                    <li><a href="">Intel</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1> Chọn theo nhu cầu</h1>
                                                    <li><a href="">Văn phòng</a></li>
                                                    <li><a href="">Gaming</a></li>
                                                    <li><a href="">Mỏng nhẹ</a></li>
                                                    <li><a href="">Đồ họa kỹ thuật</a></li>
                                                    <li><a href="">Sinh viên</a></li>
                                                    <li><a href="">Cảm ứng</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo dòng chip</h1>
                                                    <li><a href="">Laptop Core i5</a></li>
                                                    <li><a href="">Laptop Core i3</a></li>
                                                    <li><a href="">Laptop Core i7</a></li>
                                                    <li><a href="">Laptop Core i9</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo kich thước màng hình</h1>
                                                    <li><a href=""> Laptop 12 inch</a></li>
                                                    <li><a href="">Laptop 13 inch</a></li>
                                                    <li><a href="">Laptop 14 inch</a></li>
                                                    <li><a href="">Laptop 15.6 inch</a></li>
                                                    <li><a href="">Laptop 16 inch</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm Hot<i style="font-size: 15px; color:orange;"
                                                            class="fa fa-bolt fa-fw fa-2x"></i></h1>
                                                    <li><a href="">Macbook Pro M2 2022 512GB</a></li>
                                                    <li><a href="">iPhone 12 Pro 256GB cũ đẹp</a></li>
                                                    <li><a href="">Macbook Air M2 2022 512GB</a></li>
                                                    <li><a href="">Mac Mini M2 2022 512GB</a></li>
                                                    <li><a href="">Macbook Air M2 2022 256GB</a></li>
                                                    <li style="width: 192px;"><a href="">Asus Vivobook Stale Oled
                                                            T3304</a></li>
                                                    <li><a href="">Lenovo Ideapad 3 15IML05</a></li>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-220.svg" alt=""><a href="">Âm thanh</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">

                                                    <h1>Chọn loại tai nghe</h1>
                                                    <li><a href="">Tai nghe Bluetooth</a></li>
                                                    <li><a href="">Tai nghe chụp tai</a></li>
                                                    <li><a href="">Tai nghe có dây</a></li>
                                                    <li><a href="">Tai nghe thể thao</a></li>
                                                    <li><a href="">Tai nghe Gaming</a></li>
                                                    <li><a href="">Xem tất cả tai nghe</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1> Chọn hãng tai nghe</h1>
                                                    <li><a href="">Apple</a></li>
                                                    <li><a href="">JBL</a></li>
                                                    <li><a href="">Sony</a></li>
                                                    <li><a href="">LG</a></li>
                                                    <li><a href="">Soundpeats</a></li>
                                                    <li><a href="">Huawei</a></li>
                                                    <li><a href="">Havit</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn loại loa</h1>
                                                    <li><a href="">Loa Bluetooth</a></li>
                                                    <li><a href="">Loa mini</a></li>
                                                    <li><a href="">Loa Soundbar</a></li>
                                                    <li><a href="">Xem tất cả loa</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Hãng loa</h1>
                                                    <li><a href=""> JBL</a></li>
                                                    <li><a href="">LG</a></li>
                                                    <li><a href="">Sony</a></li>
                                                    <li><a href="">Marshall</a></li>
                                                    <li><a href="">Harman Kardon</a></li>
                                                    <li><a href="">Huawei</a></li>
                                                    <li><a href="">Anker</a></li>
                                                    <li><a href="">Bose</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm nổi bật </h1>
                                                    <li><a href="">AirPods Pro 2</a></li>
                                                    <li><a href="">Galaxy Buds 2 Pro</a></li>
                                                    <li><a href="">AirPods Pro</a></li>
                                                    <li><a href="">Loa tháp Samsung MX-T40</a></li>
                                                    <li style="width: 192px;"><a href="">Loa thanh Samsung HW-Q600B</a>
                                                    </li>
                                                    <li><a href="">Tai nghe Redmi Buds 4 Lite</a></li>
                                                </div>

                                            </div>
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>thiết bị thu âm</h1>
                                                    <li><a href="">Mic thu âm</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-610.svg" alt=""><a href="">Đồng hồ,</a><a
                                            href="">Máy
                                            ảnh</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Loại Đồng hồ</h1>
                                                    <li><a href="">Đồng hồ thông minh</a></li>
                                                    <li><a href="">Vòng đeo tay thông minh</a></li>
                                                    <li><a href="">Đồng hồ định vị trẻ em</a></li>
                                                    <li><a href="">Dây đeo</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1> Chọn theo hương hiệu</h1>
                                                    <li><a href="">Apple Watch</a></li>
                                                    <li><a href="">Samsung</a></li>
                                                    <li><a href="">Xiaomi</a></li>
                                                    <li><a href="">Huawei</a></li>
                                                    <li><a href="">Coros</a></li>
                                                    <li><a href="">Garmin</a></li>
                                                    <li><a href="">Kieslect</a></li>
                                                    <li><a href="">Amazfit</a></li>
                                                    <li><a href="">Soundpeats</a></li>
                                                    <li><a href="">Oppo</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm nổi bật ⚡</h1>
                                                    <li><a href="">Apple Watch Ultra</a></li>
                                                    <li><a href="">Apple Watch Series 8</a></li>
                                                    <li><a href="">Garmin Forerunner 965</a></li>
                                                    <li><a href="">Garmin Forerunner 265</a></li>
                                                    <li><a href="">Apple Watch SE</a></li>
                                                    <li><a href="">Galaxy Watch5</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chon theo nhu câu</h1>
                                                    <li><a href=""> Đồng hồ thể thao</a></li>
                                                    <li><a href="">Đồng hồ chống nước</a></li>
                                                    <li><a href="">Đồng hồ nghe gọi</a></li>
                                                    <li><a href="">Đồng hồ đo huyết áp</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Máy ảnh </h1>
                                                    <li><a href="">Sony</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-845.svg" alt=""><a href="">Nhà thông minh</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Gia dụng thông minh</h1>
                                                    <li><a href="">Máy hút bụi cầm tay</a></li>
                                                    <li><a href="">Đồ gia dụng</a></li>
                                                    <li><a href="">Quạt thông minh</a></li>
                                                    <li><a href="">Đèn thông minh</a></li>
                                                    <li><a href="">Ổ cắm điện</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1> Châm sóc sức khỏe</h1>
                                                    <li><a href="">Máy lọc không khí</a></li>
                                                    <li><a href="">Thiết bị làm đẹp</a></li>
                                                    <li><a href="">Cân sức khoẻ</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Bàn ghế thông minh</h1>
                                                    <li><a href="">Bàn ghế gaming</a></li>
                                                    <li><a href="">Bàn ghế công thái học</a></li>
                                                    <li><a href="">Bàn ghế học sinh</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Gia trị tại gia</h1>
                                                    <li><a href="">TV Box</a></li>
                                                    <li><a href="">Máy chiếu</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn hãnh robot hút bụi</h1>
                                                    <li><a href="">Robot hút bụi Samsung</a></li>
                                                    <li><a href="">Robot hút bụi Roborock</a></li>
                                                    <li><a href="">SRobot hút bụi Xiaomiony</a></li>
                                                    <li><a href="">Robot hút bụi Ecovacs</a></li>
                                                    <li><a href="">Máy hút bụi Dyson</a></li>
                                                    <li><a href="">Máy hút bụi Roidmi</a></li>
                                                </div>
                                            </div>
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Chọn hãng máy lọc không khí</h1>
                                                    <li><a href="">Máy lọc không khí Xiaomi</a></li>
                                                    <li><a href="">Máy lọc không khí Samsung</a></li>
                                                    <li><a href="">Máy lọc không khí LG</a></li>
                                                    <li><a href="">Máy lọc không khí Levoit</a></li>
                                                    <li><a href="">Máy lọc không khí Dyson </a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm Hot ⚡</h1>
                                                    <li><a href="">Xiaomi Vaccum Mop 2 Lite</a></li>
                                                    <li><a href="">Roborock S7 Maxv Ultra</a></li>
                                                    <li><a href="">Samsung Powerbot-E</a></li>
                                                    <li><a href="">Máy lọc không khí Samsung AX40R3030WM/SV</a></li>
                                                    <li><a href="">Ecovacs T10 Onmi </a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-30.svg" alt=""><a href="">Phụ kiện</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Phụ kiện di động</h1>
                                                    <li><a href="">Phụ kiện Apple</a></li>
                                                    <li><a href="">Dán màn hình</a></li>
                                                    <li><a href="">Ốp lưng - Bao da</a></li>
                                                    <li><a href="">Thẻ nhớ</a></li>
                                                    <li><a href="">Apple Care+</a></li>
                                                    <li><a href="">Sim 4G</a></li>
                                                    <li><a href="">Sim số đẹp</a></li>
                                                    <li><a href="">Cáp, sạc</a></li>
                                                    <li><a href="">Pin dự phòng</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1> Phụ kiện Laptop</h1>
                                                    <li><a href=""> Chuột, bàn phím</a></li>
                                                    <li><a href="">Ba lô - Túi xách</a></li>
                                                    <li><a href="">Phần mềm</a></li>
                                                    <li><a href="">Webcam</a></li>
                                                    <li><a href="">Giá đỡ</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Thiết bị mạng</h1>
                                                    <li><a href="">Thiết bị phát sóng WiFi</a></li>
                                                    <li><a href="">Bộ phát wifi di động</a></li>
                                                    <li><a href="">Bộ kích sóng WiFi</a></li>
                                                    <li><a href="">Xem tất cả thiết bị mạng</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Camera</h1>
                                                    <li><a href="">Camera hành trình</a></li>
                                                    <li><a href="">Camera an ninh</a></li>
                                                    <li><a href="">Gimbal</a></li>
                                                    <li><a href="">Tripod</a></li>
                                                    <li><a href="">Dịch vụ lắp đặt camera</a></li>
                                                    <li><a href="">Xem tất cả camera</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Gaming Gear</h1>
                                                    <li><a href="">PlayStation</a></li>
                                                    <li><a href="">ROG Ally</a></li>
                                                    <li><a href="">Bàn phím Gaming</a></li>
                                                    <li><a href="">Chuột chơi game</a></li>
                                                    <li><a href="">Tai nghe Gaming</a></li>
                                                    <li><a href="">Tay cầm chơi game</a></li>
                                                    <li><a href="">Xem tất cả Gaming Gear</a></li>
                                                </div>
                                            </div>
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Đồ chơi trẻ em</h1>
                                                    <li><a href="">Dây đeo đồng hồ</a></li>
                                                    <li><a href="">Dây đeo Airtag</a></li>
                                                    <li><a href="">Phụ kiện tiện ích</a></li>
                                                    <li><a href="">Phụ kiện ô tô</a></li>
                                                    <li><a href="">Đồ chơi trẻ em</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Phụ kiện iphone 14</h1>
                                                    <li><a href="">Cáp sạc iPhone 14</a></li>
                                                    <li><a href="">Ốp lưng iPhone 14</a></li>
                                                    <li><a href="">Dán màn hình iPhone 14</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Phụ kiện Galaxy S23 Series</h1>
                                                    <li><a href="">Ốp lưng S23 Series</a></li>
                                                    <li><a href="">Dán màn hình S23 Series</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon_cpu.svg" alt=""><a href="">PC,</a><a href="">Màng
                                            hình</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Máy tính để bàn</h1>
                                                    <li><a href="">PC ráp sẵn CPS</a></li>
                                                    <li><a href="">Máy tính All In One</a></li>
                                                    <li><a href="">PC đồng bộ</a></li>
                                                    <li><a href="">Build PC</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Linh kiện máy tính</h1>
                                                    <li><a href="">CPU</a></li>
                                                    <li><a href="">Mainboard</a></li>
                                                    <li><a href="">RAM</a></li>
                                                    <li><a href="">Ổ cứng</a></li>
                                                    <li><a href="">Nguồn máy tính</a></li>
                                                    <li><a href="">Card màn hình</a></li>
                                                    <li><a href="">Tản nhiệt</a></li>
                                                    <li><a href="">Case máy tính</a></li>
                                                    <li><a href="">Xem tất cả linh kiện máy tính</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn mang theo hãng</h1>
                                                    <li><a href="">ASUS</a></li>
                                                    <li><a href="">LG</a></li>
                                                    <li><a href="">Samsung</a></li>
                                                    <li><a href="">DELL</a></li>
                                                    <li><a href="">Xiaomi</a></li>
                                                    <li><a href="">ViewSonic</a></li>
                                                    <li><a href="">HUAWEI</a></li>
                                                    <li><a href="">HP</a></li>
                                                    <li><a href="">HKC</a></li>
                                                    <li><a href="">MSI</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Camera</h1>
                                                    <li><a href="">Camera hành trình</a></li>
                                                    <li><a href="">Camera an ninh</a></li>
                                                    <li><a href="">Gimbal</a></li>
                                                    <li><a href="">Tripod</a></li>
                                                    <li><a href="">Dịch vụ lắp đặt camera</a></li>
                                                    <li><a href="">Xem tất cả camera</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Gaming Gear</h1>
                                                    <li><a href="">PlayStation</a></li>
                                                    <li><a href="">ROG Ally</a></li>
                                                    <li><a href="">Bàn phím Gaming</a></li>
                                                    <li><a href="">Chuột chơi game</a></li>
                                                    <li><a href="">Tai nghe Gaming</a></li>
                                                    <li><a href="">Tay cầm chơi game</a></li>
                                                    <li><a href="">Xem tất cả Gaming Gear</a></li>
                                                </div>
                                            </div>
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Chọn màng theo nhu cầu</h1>
                                                    <li><a href="">Màn hình Gaming</a></li>
                                                    <li><a href="">Màn hình văn phòng</a></li>
                                                    <li><a href="">Màn hình đồ họa</a></li>
                                                    <li><a href="">Xem tất cả màn hình</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Thiết bị văn phòng</h1>
                                                    <li><a href="">Máy in</a></li>
                                                    <li><a href="">Phần mềm</a></li>
                                                    <li><a href="">Bàn, ghế công thái học</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-1124.svg" alt=""><a href="">TV</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo hãng</h1>
                                                    <li><a href="">Samsung</a></li>
                                                    <li><a href="">Toshiba</a></li>
                                                    <li><a href="">Dell</a></li>
                                                    <li><a href="">Coocaa</a></li>
                                                    <li><a href="">Casper</a></li>
                                                    <li><a href="">Microsoft Suface</a></li>
                                                    <li><a href="">Sony</a></li>
                                                    <li><a href="">Xiaomi</a></li>
                                                    <li><a href="">LG</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Theo mức giá</h1>
                                                    <li><a href=""> Từ 9 - 12 triệu</a></li>
                                                    <li><a href="">Từ 12 - 15 triệu</a></li>
                                                    <li><a href="">Trên 15 triệu</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo độ phân giải</h1>
                                                    <li><a href="">Tivi 4K</a></li>
                                                    <li><a href="">Tivi 8K</a></li>
                                                    <li><a href="">Tivi Full HD</a></li>
                                                    <li><a href="">Tivi QLED</a></li>
                                                    <li><a href="">Android Tivi</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo kich thước màng hình</h1>
                                                    <li><a href="">Tivi 32 inch</a></li>
                                                    <li><a href="">Tivi 32 inch</a></li>
                                                    <li><a href="">Tivi 50 inch</a></li>
                                                    <li><a href="">Tivi 55 inch</a></li>
                                                    <li><a href="">Tivi 65 inch</a></li>
                                                    <li><a href="">Tivi 85 inch</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo kích thước</h1>
                                                    <li><a href="">Tivi Xiaomi A2 58 inch</a></li>
                                                    <li><a href="">Tivi Xiaomi P1 55 inch</a></li>
                                                    <li><a href="">Tivi Toshiba 43 inch</a></li>
                                                    <li><a href="">Khung treo tivi</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm Hot<i style="font-size: 15px; color:orange;"
                                                            class="fa fa-bolt fa-fw fa-2x"></i></h1>
                                                    <li><a href="">Tivi Xiaomi A2 58 inch</a></li>
                                                    <li><a href="">Tivi Xiaomi P1 55 inch</a></li>
                                                    <li><a href="">Tivi Toshiba 43 inch</a></li>
                                                    <li><a href="">Khung treo tivi</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-tcdm.svg" alt=""><a href="">Thu cũ đổi mới</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Chọn theo hãng</h1>
                                                    <li><a href="">Thu cũ iPhone</a></li>
                                                    <li><a href="">Thu cũ Samsung</a></li>
                                                    <li><a href="">Thu cũ Mac</a></li>
                                                    <li><a href="">Thu cũ Xiaomi</a></li>
                                                    <li><a href="">Thu cũ Laptop</a></li>
                                                    <li><a href="">Thu cũ iPad</a></li>
                                                    <li><a href="">Thu cũ Apple Watch</a></li>
                                                    <li><a href="">Thu cũ SKTel</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm trợ giá cao⚡</h1>
                                                    <li><a href="">iPhone 13 Pro Max 128GB</a></li>
                                                    <li><a href="">iPhone 13 Pro Max 256GB</a></li>
                                                    <li><a href="">iPhone 14 Pro Max 128GB</a></li>
                                                    <li><a href="">iPhone 14 Pro Max 256GB</a></li>
                                                    <li><a href="">Samsung Galaxy S23 8GB 256GB</a></li>
                                                    <li><a href="">Samsung Galaxy Z Fold3 5G</a></li>
                                                    <li><a href="">Macbook Pro 13 M2 2022 8GB 256GB</a></li>
                                                    <li><a href="">Laptop ASUS Gaming Rog Strix G15 G513IH HN015W</a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-29.svg" alt=""><a href="">Hàng cũ</a>
                                        <div class="list_nav_products">
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Chọn loại sản phẩm cũ</h1>
                                                    <li><a href="">Điện thoại cũ</a></li>
                                                    <li><a href="">Máy tính bảng cũ</a></li>
                                                    <li><a href="">Laptop cũ</a></li>
                                                    <li><a href="">Tai nghe cũ</a></li>
                                                    <li><a href="">Loa cũ</a></li>
                                                    <li><a href="">Loa cũ</a></li>
                                                    <li><a href="">Nhà thông minh cũ</a></li>
                                                    <li><a href="">Màn hình cũ</a></li>
                                                    <li><a href="">Phụ kiện cũ</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn dòng iphong cũ</h1>
                                                    <li><a href="">iPhone 14 series cũ</a></li>
                                                    <li><a href="">iPhone 13 series cũ</a></li>
                                                    <li><a href="">iPhone 12 series cũ</a></li>
                                                    <li><a href="">iPhone 11 series cũ</a></li>
                                                    <li><a href="">Xem tất cả iPhone cũ</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn dong Android cũ</h1>
                                                    <li><a href="">Samsung cũ</a></li>
                                                    <li><a href="">Xiaomi cũ</a></li>
                                                    <li><a href="">OPPO cũ</a></li>
                                                    <li><a href="">Nokia cũ</a></li>
                                                    <li><a href="">realme cũ</a></li>
                                                    <li><a href="">vivo cũ</a></li>
                                                    <li><a href="">ASUS cũ</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Chọn hãng laptop cũ</h1>
                                                    <li><a href="">Laptop Dell cũ</a></li>
                                                    <li><a href="">Laptop ASUS cũ</a></li>
                                                    <li><a href="">Laptop Acer cũ</a></li>
                                                    <li><a href="">Laptop HP cũ</a></li>
                                                    <li><a href="">Laptop Surface cũ</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm nổi bật ⚡</h1>
                                                    <li><a href="">iPhone 13 Series Cũ</a></li>
                                                    <li><a href="">iPhone 12 Pro 256GB cũ đẹp</a></li>
                                                    <li><a href="">iPhone 8 Plus 64GB cũ</a></li>
                                                    <li><a href="">Apple Watch Series 6 cũ</a></li>
                                                    <li><a href="">Macbook Air M1 đã kích hoạt</a></li>
                                                    <li><a href="">Xiaomi 11T đã kích hoạt</a></li>
                                                </div>
                                            </div>
                                            <div class="list_products">
                                                <div class="list_products-detal">
                                                    <h1>Sản phẩm Apple cũ</h1>
                                                    <li><a href="">Apple Watch cũ</a></li>
                                                    <li><a href="">iPad cũ</a></li>
                                                </div>
                                                <div class="list_products-detal">
                                                    <h1>Tivi cũ</h1>
                                                    <li><a href="">Tivi cũ</a></li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-promotion.svg" alt=""><a href="">Khuyễn mãi</a>
                                        <div class="list_nav_products">
                                            <div class="list_products-detal">
                                                <h1>Khuyến mãi</h1>
                                                <li><a href=""> Hotsale cuối tuần</a></li>
                                                <li><a href="">Ưu đãi thanh toán</a></li>
                                                <li><a href=""> Khách hàng doanh nghiệp B2B</a></li>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="nav_accessorry">
                                    <div>
                                        <img src="/assets/img/icon-cps-tech.svg" alt=""><a href="">Tin công nghệ</a>
                                        <div class="list_nav_products">
                                            <div class="list_products-detal">
                                                <h1>Chuyên mục</h1>
                                                <li><a href="">Tin công nghệ</a></li>
                                                <li><a href="">Khám phá</a></li>
                                                <li><a href="">S-Games</a></li>
                                                <li><a href=""> Tư vấn</a></li>
                                                <li><a href="">Trên tay</a></li>
                                                <li><a href="">Thị trường</a></li>
                                                <li><a href="">Thủ thuật</a></li>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>

                            </nav>

                            <div class="banner">
                                <div class="banner_img">
                                    <!-- <img id="slineimg" src="assets/img/asus rog gaming.webp" alt=""> -->
                                    <!--image slider start-->
                                    <div class="slider">
                                        <div class="slides">
                                            <!--radio buttons start-->
                                            <input type="radio" name="radio-btn" id="radio1">
                                            <input type="radio" name="radio-btn" id="radio2">
                                            <input type="radio" name="radio-btn" id="radio3">
                                            <input type="radio" name="radio-btn" id="radio4">
                                            <input type="radio" name="radio-btn" id="radio5">
                                            <!--radio buttons end-->
                                            <!--slide images start-->
                                            <div class="slide first">
                                                <img src="/assets/img/asus rog gaming.webp" alt="">
                                            </div>
                                            <div class="slide">
                                                <img src="/assets/img/fold-right-th5-new.webp" alt="">
                                            </div>
                                            <div class="slide">
                                                <img src="/assets/img/kieslect sliding.webp" alt="">
                                            </div>
                                            <div class="slide">
                                                <img src="/assets/img/redmi-note12s-004-sliding.webp" alt="">
                                            </div>
                                            <div class="slide">
                                                <img src="/assets/img/vivo-v27e-sliding-moban.webp" alt="">
                                            </div>
                                            <!--slide images end-->
                                            <!--automatic navigation start-->
                                            <div class="navigation-auto">
                                                <div class="auto-btn1"></div>
                                                <div class="auto-btn2"></div>
                                                <div class="auto-btn3"></div>
                                                <div class="auto-btn4"></div>
                                                <div class="auto-btn5"></div>
                                            </div>
                                            <!--automatic navigation end-->
                                        </div>
                                        <!--manual navigation start-->
                                        <div class="navigation-manual">
                                            <label for="radio1" class="manual-btn">ASUS ROG<br>Chiến game đỉnh
                                                cao</label>
                                            <label for="radio2" class="manual-btn">GALAXY FOLD4<br> Giá rẻ bất
                                                ngờ</label>
                                            <label for="radio3" class="manual-btn">ĐỒNG HỒ KIESLECT <br>Nhận ngay quà
                                                chất</label>
                                            <label for="radio4" class="manual-btn">REDMI NOTE 12 SERIES <br>Mở bán deal
                                                hời</label>
                                            <label for="radio5" class="manual-btn">NORD CE 3 LITE <br> Mở bán giá
                                                sốc</label>
                                        </div>
                                        <!--manual navigation end-->
                                    </div>
                                    <!--image slider end-->
                                </div>
                                <div class="banner_text">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="bannersmall">
                            <div class=""><img src="/assets/img/fold-right-th5-new.webp" alt=""></div>
                            <div class=""><img src="/assets/img/right-banner-th5-newww1.webp" alt=""></div>
                            <div class=""><img src="/assets/img/right-banner-ideapad-3.webp" alt=""></div>
                        </div>
                    </section>